<div class="container">
    <div class="row">
      <a class="btn btn=primary" routerLink="/companies">Back to List</a>
    </div>
    <div>
      <div class="form-group">
        <label>Company Name</label>
        <div class="form-control">{{viewCompany.name}}</div>
      </div>
      <div class="form-group">
        <label>Headquaters</label>
        <div class="form-control">{{viewCompany.address}}</div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <div class="form-control">{{viewCompany.description}}</div>
      </div>
    </div>
  </div>